.minikube/
.gitconfig
.vscode-server/
.ssh/
.config/
.cache/
.docker/
.dotnet/
.kube/
.local/share/
.venvs/
bin/
lib/
.bash_history
.bash_logout
.bashrc
.lesshst
.profile

installer/kubectl
linux-386/
ric-plt-ric-dep/bin/
ric-plt-ric-dep/linux-386/
*.tar
*.tar.lz4
*.zip
*.7z
*.bin
*.mp4
*.iso
*.img

lib64/
pyvenv.cfg
